<form class="form-signin" action="/auth/login" method="post">
  <%= csrf_tag %>
  <h2 class="form-signin-heading">Please log in</h2>
  <input type="text" class="input-block-level" placeholder="Username" id="username" name="username">
  <input type="password" class="input-block-level" placeholder="Password" id="password" name="password">
  <label class="checkbox">
  <button class="btn btn-large btn-primary" type="submit">Log In</button>
</form>