<div class="container">
	<h1>Help</h1>

	<h2 onclick="toggleDiv('#install-ios');" class="helplink">How do I install on iOS?</h2>
	<div id="install-ios" class="startHidden">
		<ul>
			<li>Step 1</li>
			<li>Step 2</li>
			<li>Step 3</li>
		</ul>
	</div>

	<h2 onclick="toggleDiv('#install-android');" class="helplink">How do I install on Android?</h2>
	<div id="install-android" class="startHidden">
		<ul>
			<li>Step 1</li>
			<li>Step 2</li>
			<li>Step 3</li>
		</ul>
	</div>

</div>

<script type="text/javascript">
	function toggleDiv(divID) {
		$(divID).slideToggle();
	}
</script>