/* EddieRoger.com Site-Specific CSS*/
html, body {height: 100%;}

.nav a {
    color: #FFFFFF;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px #333333;
    color: #FFFFFF;
}

.navbar-brand:hover{
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px #333333;
    color: #FFFFFF;
}