/* EddieRoger.com Site-Specific CSS*/
html, body {height: 100%;}

body {
  padding-top: 50px;
}

.nav a {
    color: #FFFFFF;
}

.navbar-brand {
    font-weight: bold;
    color: #FFFFFF;
}

.navbar-brand:hover{
    font-weight: bold;
    color: #FFFFFF;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000000;
  border-radius: 1px;
}

.startHidden {
  display: none;
}

.helplink {
  color: #0000FF;
  text-decoration: underline;;
}