<h1>Welcome to Direct Sending Provisioning Support</h1>
<p>This tool is meant to help manage MobilePush-provisioned accounts by holding and setting their various sending credentials. Use of this system is limited to the Mobile team. This tool can make some pretty dangerous changes, so please be careful and use only if you know what you're doing.</p>

<hr width="75%" />

<h1>Customers <small></small></h1>

<div class="container" style="height: 100%; margin-bottom: 0px; padding-bottom: 0px;">
<table id="MyGrid" class="table table-bordered datagrid">
	<thead>
	<tr>
		<th>
			<span class="datagrid-header-title">Known MobilePush Customers</span>
 
			<div class="datagrid-header-left">
				<div class="input-append search datagrid-search">
					<input type="text" class="input-medium" placeholder="Search">
					<button type="button" class="btn"><i class="icon-search"></i></button>
				</div>
			</div>
			<div class="datagrid-header-right">
				<div class="select filter" data-resize="auto">
					<button type="button" class="btn btn-primary" onclick="window.location.href='/customers/new'">Add Customer</button>
					<button type="button" data-toggle="dropdown" class="btn dropdown-toggle">
						<span class="dropdown-label"></span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li data-value="all" data-selected="true"><a href="#">All Stacks</a></li>
						<li data-value="S1"><a href="#">S1</a></li>
						<li data-value="S4"><a href="#">S4</a></li>
						<li data-value="S6"><a href="#">S6</a></li>
					</ul>
				</div>
			</div>
		</th>
	</tr>
	</thead>
	<tfoot>
	<tr>
		<th>
			<div class="datagrid-footer-left" style="display:none;">
				<div class="grid-controls">
					<span>
						<span class="grid-start"></span> -
						<span class="grid-end"></span> of
						<span class="grid-count"></span>
					</span>
					<div class="select grid-pagesize" data-resize="auto">
						<button type="button" data-toggle="dropdown" class="btn dropdown-toggle">
							<span class="dropdown-label"></span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li data-value="5" data-selected="true"><a href="#">5</a></li>
							<li data-value="10"><a href="#">10</a></li>
							<li data-value="20"><a href="#">20</a></li>
							<li data-value="50"><a href="#">50</a></li>
							<li data-value="100"><a href="#">100</a></li>
						</ul>
					</div>
					<span>Per Page</span>
				</div>
			</div>
			<div class="datagrid-footer-right" style="display:none;">
				<div class="grid-pager">
					<button type="button" class="btn grid-prevpage"><i class="icon-chevron-left"></i></button>
					<span>Page</span>
 
					<div class="input-append dropdown combobox">
						<input class="span1" type="text">
						<button type="button" class="btn" data-toggle="dropdown"><i class="caret"></i></button>
						<ul class="dropdown-menu"></ul>
					</div>
					<span>of <span class="grid-pages"></span></span>
					<button type="button" class="btn grid-nextpage"><i class="icon-chevron-right"></i></button>
				</div>
			</div>
		</th>
	</tr>
	</tfoot>
</table>
</div>

<script src="/js/datasource.js" type="text/javascript"></script>
<script  type="text/javascript">

$(function () {

	var dataSource = new StaticDataSource({
                                columns: [
                                        {
                                                property: 'memberID',
                                                label: 'MemberID',
                                                sortable: false
                                        },{
                                                property: 'name',
                                                label: 'Name',
                                                sortable: false
                                        },
                                        {
                                                property: 'stack',
                                                label: 'Stack',
                                                sortable: false
                                        },
                                        {
                                        	property: "options",
                                        	label: '',
                                        	sortable: false
                                        }
                                ],
                                data: <%= @customers.to_json %>,
                                formatter: function (items) {
                                	$.each(items, function(index, item) {
                                		item.options = "<button type=\"button\" class=\"btn btn-default\" onclick=\"window.location.href='/customers/" + item.memberID + "/edit'\">Edit</button>";
                                		item.memberID = '<a href="/customers/' + item.memberID + '/apps">' + item.memberID + '</a>';
                                	});
                                },
                                delay: 250
                        });
	$('#MyGrid').datagrid({ dataSource: dataSource, stretchHeight: false });
});

$(document).ready(function() {
    // $('#MyGrid').on('click', 'tbody > tr', function() {
    //     var id = $(this).find("td").eq(0).html();
    //     // alert(id);
    //     // window.location.href = "/customers/" + id;
    // });

    // $('#submitForm').on('click', function() {
    // 	var theData = $("#newCustomerForm").serializeObject();
    // 	console.log(theData);
    // 	$.ajax({
    // 		type: 'POST',
    // 		url: '/customers',
    // 		cache: false,
    // 		data: theData,
    // 		success: function(data) {
    // 			window.location.reload();
    // 		},
    // 		error: function() {
    // 			alert("Failed to save.");
    // 		}
    // 	});
    // });
});
</script>